<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="brrr.Properties.Settings.sqllinqConnectionString"
            connectionString="Data Source=HYRAIKSA22;Initial Catalog=sqllinq;User ID=sa;Password=07091978Andrian1233_;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>